{% extends "base.html" %}
{% block title %}Home - {{ block.super }}{% endblock %}
{% block body %}
<table cellspacing="0" class="columns">
          <tbody>
            <tr>
              <td id="content" class="round-left column">
                                <div class="wrapper">
                  <h2>Sorry we are overloaded! :(</h2>
				  <img src="/static/images/error.jpg" alt="yotsuba" />

                  </div>
                                </td>
              
            </tr>
          </tbody>
        </table>
{% endblock %}

{% block menu %}
		  <li><a href="/session/login" accesskey="l">Sign In</a>(Eviscape Account)</li>
{% endblock %}